:root {

    //primary

    --gr-blue:  rgba(132, 134, 169,1);
    --soft-red : hsl(345, 95%, 68%);

    //secondary
    --white : hsl(0, 0%, 100%);
    --dark-ds-blue : hsl(236, 21%, 26%);
    --vd-blue : hsl(235, 16%, 14%);
    --vd-bl-blue: hsl(234, 17%, 12%);

    font-size:  87.5%;
    
}